<div class="flex flex-col items-center justify-center w-full">

  <h1 class='bg-blue-800 w-full p-5 text-white mb-2'>Arriving at Great Portland Street</h1>

  <% if @arrivals.empty? %>
    <p class='w-full p-5 mb-2'>No arrivals</p>
  <% else %>
    <%= render "arrivals_table" %>
  <% end %>
</div>
